{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-uses-vars": 2,
    "arrow-parens": ["error", "always"],
    "comma-dangle": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "varsIgnorePattern": "^log" }],
    "no-underscore-dangle": ["error", {"allow": ["_id" ]}],
    "id-length": [2, {"exceptions": ["e", "i"]}]
  }
}
