@import '../../../styles/base/colours';

.admin__panels {
  position: relative;
}

.admin__panel {
  position: relative;
  background-color: $lighter;
}

.admin-btn {
  background-color: $brand--light;
  border: 1px solid $darken;
  color: $brand--dark;
  font-size: .8rem;
  padding: .25em 1em;
  cursor: pointer;
  border-radius: 5px;
}


.admin-options {
  border: 4px solid $brand;
  border-top: 0;
  padding: 1em;
  display: flex;
  align-items: baseline;

  &--top {
    align-items: flex-start;
  }
}

.admin-option {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 3em;
  }

  &__btn {
    flex-grow: 1;
    text-align: right;
  }

  &__value {
    margin-left: 1em;
  }

  select,
  input {
    height: 2em;
    line-height: 2em;
    border-radius: 5px;
    border: 1px solid $brand;
    padding:  1em;
    margin: .25em;
    font-size: 1em;
    font-family: sans-serif;

    &[type='submit'] {
      height: auto;
    }
  }
}

.admin-icon {
  cursor: pointer;
  display: inline-block;
  height: 1em;
  position: relative;
  top: 3px;
  width: 2em;
  margin: 0 1em;
  background: $light;
  border-radius: 5px;
  padding: 0 .5em;

  svg {
    transition: transform .25s ease-in-out, background .25s ease-in-out;
  }

  &:hover {
    background: $white;

    svg {
      transform: scale(1.5);
    }
  }
}
